@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1200px;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

/*** BSP: @extend %reset;***/
.container:before, #header nav ul:before, .container:after, #header nav ul:after {
  content: "";
  display: table; }
.container:after, #header nav ul:after {
  clear: both; }

.post-edit-link > span {
  text-indent: -9999px;
  display: block;
  overflow: hidden; }

/*** Mixins & Placeholders ***/
/**** caret ****/
/* Bsp. @include alpha-background-color(rgba(black, 0.35), white); */
/* Mediaqueries breakpoints */
html,
body {
  font-size: 100%;
  /*prevents ios safari from zooming on orientation change (maybe)*/
  -webkit-text-size-adjust: none; }

body {
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
  color: #52595F; }
  @media screen and (min-width: 992px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 0 3rem; } }
  body.home h1, body.home
  h2, body.home
  h3, body.home
  h4, body.home
  h5, body.home
  h6 {
    color: white !important;
    margin: 0; }
  h1.logo span,
  h2.logo span,
  h3.logo span,
  h4.logo span,
  h5.logo span,
  h6.logo span {
    margin: 0;
    font-weight: 300; }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      h1.logo span,
      h2.logo span,
      h3.logo span,
      h4.logo span,
      h5.logo span,
      h6.logo span {
        font-size: 13px; } }
    @media screen and (min-width: 1200px) {
      h1.logo span,
      h2.logo span,
      h3.logo span,
      h4.logo span,
      h5.logo span,
      h6.logo span {
        font-size: 14px; } }
  article h1, .page h1, article
  h2, .page
  h2, article
  h3, .page
  h3, article
  h4, .page
  h4, article
  h5, .page
  h5, article
  h6, .page
  h6 {
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -.025em;
    font-weight: 900; }
    @media screen and (max-width: 480px) {
      article h1, .page h1, article
      h2, .page
      h2, article
      h3, .page
      h3, article
      h4, .page
      h4, article
      h5, .page
      h5, article
      h6, .page
      h6 {
        font-size: 22px; } }
    @media screen and (min-width: 992px) {
      article h1, .page h1, article
      h2, .page
      h2, article
      h3, .page
      h3, article
      h4, .page
      h4, article
      h5, .page
      h5, article
      h6, .page
      h6 {
        font-size: 50px; } }
    article h1 > span, .page h1 > span, article
    h2 > span, .page
    h2 > span, article
    h3 > span, .page
    h3 > span, article
    h4 > span, .page
    h4 > span, article
    h5 > span, .page
    h5 > span, article
    h6 > span, .page
    h6 > span {
      color: #6D3332; }
  .contact h1, .contact
  h2, .contact
  h3, .contact
  h4, .contact
  h5, .contact
  h6 {
    text-align: center; }
  .portfolio_content h1, .portfolio_content
  h2, .portfolio_content
  h3, .portfolio_content
  h4, .portfolio_content
  h5, .portfolio_content
  h6 {
    font-size: 1.25em;
    margin: 0; }
  body.leistungen article h1, body.leistungen article
  h2, body.leistungen article
  h3, body.leistungen article
  h4, body.leistungen article
  h5, body.leistungen article
  h6 {
    font-size: 1.2em;
    color: #6D3332;
    margin: 0 0 0.5rem 0; }
  .impressum h1, .impressum
  h2, .impressum
  h3, .impressum
  h4, .impressum
  h5, .impressum
  h6 {
    color: white;
    font-size: 1.25em;
    margin: 0 0 1rem; }

.copyright {
  color: white;
  font-size: 1.25em;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 600; }

p {
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 150%; }
  p.lead, blockquote p {
    font-size: 1.125rem;
    line-height: 1.33; }
  body.home > footer p {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold !important;
    line-height: 1;
    margin-bottom: 0;
    color: #fff; }
    @media screen and (max-width: 480px) {
      body.home > footer p {
        font-size: 14px; } }
    @media screen and (min-width: 992px) {
      body.home > footer p {
        font-size: 24px; } }
  body:not(.home) > footer p {
    padding: 1em 0; }
  body.leistungen > main p {
    text-align: center; }

a {
  color: #000; }
  .logo a {
    color: #52595F; }
    body.home .logo a {
      color: #fff; }

ul,
ol {
  padding-left: 1.5rem; }
  ul li,
  ol li {
    line-height: 150%; }
  ul.unstyled,
  ol.unstyled {
    padding: 0;
    list-style: none; }
  ul.inline,
  ol.inline {
    margin: 0 1rem 1rem -1rem;
    padding: 0;
    list-style: none;
    overflow: hidden; }
    ul.inline > li,
    ol.inline > li {
      display: block;
      float: left;
      margin-left: 1rem;
      list-style: none; }

dl {
  margin: 0 0 1rem;
  line-height: 150%; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 0.5rem; }

blockquote {
  position: relative;
  margin: 1.5rem 1rem 1.5rem 3rem; }
  blockquote:before {
    content: "“";
    display: block;
    position: absolute;
    top: -1rem;
    left: -3rem;
    color: #404040;
    font-size: 5rem;
    line-height: 1; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #404040; }

.text-smaller {
  font-size: smaller; }

/*** tables ****/
table {
  width: 100%;
  margin-bottom: 2em; }

.colGrey {
  fill: #A6ABAE; }

.colRed {
  fill: #6D3332; }

.colBG {
  fill: #fff; }

.colDarkRed {
  fill: #623636; }
  body.home .colDarkRed {
    fill: #ffffff; }

.colDarkgrey {
  fill: #52595F; }
  body.home .colDarkgrey {
    fill: #ffffff; }

#logo svg {
  margin-right: 25px; }
  @media screen and (min-width: 992px) {
    #logo svg {
      height: 171px;
      width: 356px; } }

#pfeil-xs .dots {
  fill: #6D3332; }
#header nav #pfeil-xs .dots {
  fill: #A6ABAE; }

.st0 {
  fill: #A6ABAE; }

.leftalign {
  float: left; }

.rightalign {
  float: right; }

@media screen and (max-width: 480px) {
  .hidden-xs {
    display: none; } }

@media screen and (min-width: 1200px) {
  .hidden-lg {
    display: none; } }

*:hover, *:focus {
  cursor: pointer; }

.post-edit-link {
  background: transparent url(../svg/pen.svg) no-repeat left center;
  display: block;
  height: 20px;
  width: 20px; }

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 769px) and (max-width: 1200px) {
  body > header .container nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    body > header .container nav:last-child {
      margin-right: 0; }
  body > header .container .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    body > header .container .logo:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1200px) {
  body > header .container nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    body > header .container nav:last-child {
      margin-right: 0; }
  body > header .container .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    body > header .container .logo:last-child {
      margin-right: 0; } }
@media screen and (min-width: 960px) {
  body > footer .container.columns > div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    body > footer .container.columns > div:last-child {
      margin-right: 0; } }
@media screen and (min-width: 960px) {
  .container.contact-buttons {
    margin-bottom: 4.5rem; }
    .container.contact-buttons > div {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .container.contact-buttons > div:last-child {
        margin-right: 0; } }

@media screen and (max-width: 736px) {
  article > .post_content, article > aside {
    width: 100%;
    vertical-align: top; } }
@media screen and (min-width: 736px) {
  article > .post_content, article > aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    article > .post_content:last-child, article > aside:last-child {
      margin-right: 0; } }
@media screen and (max-width: 736px) {
  article > aside {
    overflow: hidden; } }
  @media screen and (max-width: 736px) and (orientation: portrait) {
    article > aside {
      height: 50vH; } }
  @media screen and (max-width: 736px) and (orientation: landscape) {
    article > aside {
      height: 100vH; } }

@media screen and (min-width: 736px) {
  body[class*="subpages"] article > aside {
    float: right; }
    body[class*="subpages"] article > aside img {
      float: right; } }
body.leistungen article {
  text-align: center;
  margin-bottom: 30px; }
  @media screen and (max-width: 480px) {
    body.leistungen article {
      width: 100%;
      padding-top: 20px; } }
  @media screen and (min-width: 736px) and (orientation: landscape) {
    body.leistungen article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      body.leistungen article:last-child {
        margin-right: 0; }
      body.leistungen article > * {
        width: 100%; }
      body.leistungen article:nth-child(even) {
        padding-left: 3em;
        margin: 0; }
      body.leistungen article:nth-child(odd) {
        padding-right: 3em; }
      body.leistungen article:last-child {
        width: 100%;
        float: none;
        clear: both;
        padding: 0 25%; } }

@media screen and (min-width: 480px) and (max-width: 960px) {
  #portfolio {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    #portfolio::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 960px) {
  #portfolio {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    #portfolio::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (max-width: 480px) {
  #portfolio .portfolio-item {
    margin-bottom: 2em; } }
@media screen and (min-width: 480px) and (max-width: 768px) {
  #portfolio .portfolio-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #portfolio .portfolio-item:last-child {
      margin-right: 0; }
    #portfolio .portfolio-item:nth-child(3n) {
      margin-right: 0; }
    #portfolio .portfolio-item:nth-child(3n+1) {
      clear: left; } }
@media screen and (min-width: 768px) and (max-width: 959px) {
  #portfolio .portfolio-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #portfolio .portfolio-item:last-child {
      margin-right: 0; }
    #portfolio .portfolio-item:nth-child(3n) {
      margin-right: 0; }
    #portfolio .portfolio-item:nth-child(3n+1) {
      clear: left; } }
@media screen and (min-width: 960px) {
  #portfolio .portfolio-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    #portfolio .portfolio-item:last-child {
      margin-right: 0; }
    #portfolio .portfolio-item:nth-child(4n) {
      margin-right: 0; }
    #portfolio .portfolio-item:nth-child(4n+1) {
      clear: left; } }

#header nav {
  text-transform: uppercase;
  font-size: 1.125rem; }
  @media screen and (max-width: 480px) {
    #header nav {
      top: 0px; } }
  @media screen and (max-width: 992px) {
    #header nav {
      background: white;
      z-index: 1000; } }
  #header nav ul {
    list-style: none; }
    @media screen and (min-width: 992px) {
      #header nav ul {
        margin: 0;
        padding: 0; } }
    @media screen and (max-width: 768px) {
      #header nav ul {
        margin: 0;
        padding: .5em 0 0 0; } }
    @media screen and (max-width: 992px) {
      #header nav ul li {
        display: block;
        float: none;
        line-height: 100% !important;
        width: 100%;
        overflow: hidden; }
        #header nav ul li.close-menu {
          text-align: center;
          height: 44px; }
          #header nav ul li.close-menu a {
            text-indent: -99999px;
            overflow: hidden;
            width: 100%;
            height: 0; }
          #header nav ul li.close-menu svg {
            margin: 0 !important;
            height: 22px !important;
            padding: 0;
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
            -webkit-transform-origin: center center;
            -moz-transform-origin: center center;
            -ms-transform-origin: center center;
            -o-transform-origin: center center;
            transform-origin: center center; }
            #header nav ul li.close-menu svg:hover {
              cursor: pointer; }
        #header nav ul li a {
          padding: .5em 2.5em; }
        #header nav ul li svg {
          width: 100%;
          margin: .2em 0;
          padding: 0;
          height: 3px; } }
    @media screen and (min-width: 992px) {
      #header nav ul li {
        float: left;
        display: inline-block;
        width: auto; }
        #header nav ul li.close-menu {
          display: none; } }
    @media screen and (max-width: 992px) {
      #header nav ul li.close-menu svg {
        width: 100%; } }
  #header nav li.menu-item a {
    display: block;
    color: #52595F;
    font-weight: bold; }
    @media screen and (min-width: 992px) {
      #header nav li.menu-item a {
        line-height: 1;
        border-top: 3px solid transparent; } }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      #header nav li.menu-item a {
        padding: 1rem .6em 0 .6em; } }
    @media screen and (min-width: 1200px) {
      #header nav li.menu-item a {
        padding: 1rem 1.2em 0 1.2em; } }
    @media screen and (min-width: 992px) {
      body.home #header nav li.menu-item a, body.home #header nav li.menu-item a:hover {
        color: white; } }
    #header nav li.menu-item a:hover {
      text-decoration: none;
      color: #6D3332;
      border-color: currentColor; }
  #header nav li.menu-item.current-menu-item svg {
    fill: #6D3332; }
  #header nav li.menu-item.current-menu-item a {
    color: #6D3332; }
    @media screen and (min-width: 992px) {
      #header nav li.menu-item.current-menu-item a {
        border-top: 3px solid currentColor; } }

nav.nav.open {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  min-height: 340px; }
  @media screen and (min-width: 480px) and (max-width: 992px) {
    nav.nav.open {
      width: 50% !important; } }

@media screen and (max-width: 992px) {
  nav.nav, nav.nav.closed {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    min-height: 0px;
    max-height: 0;
    overflow: hidden; } }

@media screen and (min-width: 993px) {
  .home-btn.mobile-layout,
  .navbar-toggle,
  .nav li svg {
    display: none; } }
@media screen and (max-width: 992px) {
  .home-btn.mobile-layout,
  .navbar-toggle {
    display: block;
    position: absolute;
    z-index: 999; }
    .home-btn.mobile-layout svg,
    .navbar-toggle svg {
      height: 40px;
      width: 40px;
      padding: .5em;
      background: #fff; }

  .home-btn.mobile-layout {
    top: 0;
    left: 0; }

  .navbar-toggle {
    top: 0;
    right: 0; } }
/* Sticky Footer */
/*html{
    position: relative;
    min-height: 100%;
}
body {
    &.home{
        margin-bottom: $footerHomeHeight;
        > footer {
            height:$footerHomeHeight;
        }
    }
    &:not(.kontakt){
        margin-bottom: $footerHeight;  
        > footer{
            height:$footerHeight;
            width: 100vW;
            position: absolute;
            bottom: 0;       
        }
    }
}*/
/* end sticky footer */
/*Layout Home */
body.home {
  height: 100vH;
  position: relative;
  overflow: hidden;
  background-color: black;
  background-repeat: no-repeat; }
  @media screen and (max-width: 600px) {
    body.home {
      background-size: contain;
      background-position: 50% 70%; } }
  @media screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
    body.home {
      background-size: 120% auto;
      background-position: 50% 10%; } }
  @media screen and (min-width: 600px) and (max-width: 992px) and (orientation: portrait) {
    body.home {
      background-size: contain;
      background-position: 50% 70%; } }
  @media screen and (min-width: 992px) {
    body.home {
      background-size: cover;
      background-position: 50% 25%; } }
  body.home > .footer {
    position: absolute;
    bottom: 2em;
    width: 100%; }
@media screen and (min-width: 992px) {
  body:not(.home) > header {
    background: white; } }
body:not(.home) > header .logo {
  background: white; }
@media screen and (max-width: 736px) {
  body:not(.home) > main .post_content {
    padding: 1em 2em; } }
body:not(.home) > .footer {
  background: #6D3332; }
  body:not(.home) > .footer * {
    color: #fff; }
  body:not(.home) > .footer .impressum {
    padding-top: 40px; }
  @media screen and (max-width: 736px) {
    body:not(.home) > .footer {
      padding: 0 2em; } }
body.kontakt > main, body.leistungen > main {
  background: #eee !important;
  padding-top: 5.3em; }
body .intro {
  margin-bottom: 30px; }
  @media screen and (max-width: 992px) {
    body .intro {
      padding: 2em;
      margin: 0; } }

#header .container {
  padding: 0; }
@media screen and (max-width: 992px) {
  .container #portfolio {
    padding: 0 2em; } }
.container.related.bottom-fold {
  margin-top: 2em; }

#header .logo a {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  width: 100%;
  height: 0;
  padding: 0;
  padding-bottom: calc(100% * 1/3); }
  body.home #header .logo a {
    background-image: url("../svg/logo-white.svg"); }
  body:not(.home) #header .logo a {
    background-image: url("../svg/logo.svg"); }
#header .logo span {
  display: none; }
@media screen and (max-width: 992px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 44px;
    width: 100%;
    z-index: 10;
    border-bottom: 4px solid #000;
    /** white block above **/ }
    #header .container:before {
      content: ' ';
      display: block;
      background: white;
      position: absolute;
      top: 0;
      left: 40px;
      right: 40px;
      height: 40px;
      border-width: 0 4px;
      border-color: #000;
      border-style: solid; }
    #header .nav {
      width: 100%;
      top: 44px; }
    #header .logo {
      padding: 10px 20px;
      margin: 44px 0 0 0; } }
@media screen and (max-width: 992px) {
  #header .logo, #header nav {
    position: absolute;
    overflow: hidden; }
  #header nav {
    left: 0;
    right: 0; } }
@media screen and (max-width: 992px) {
  #header .logo, #header nav {
    left: 0;
    right: 0; } }
@media screen and (min-width: 480px) and (max-width: 992px) {
  #header .logo a {
    background-size: 50% auto;
    padding-bottom: calc(50% * 1/3); } }
@media screen and (min-width: 992px) {
  #header .logo, #header .nav {
    margin-top: 32px; } }

@media screen and (max-width: 480px) {
  body.home article h1 {
    margin: 40vH 2em 0 2em; } }
@media screen and (min-width: 480px) and (max-width: 992px) {
  body.home article h1 {
    margin: 45vH 3em; } }
@media screen and (min-width: 992px) {
  body.home article h1 {
    margin: 12vH 3em; } }
body.leistungen article .thumbnail {
  background: transparent;
  border: 0;
  display: block;
  margin-bottom: 1em; }
  body.leistungen article .thumbnail img {
    width: auto;
    height: 50px;
    max-width: none; }
.flexslider article > section.flexcaption {
  padding-right: 1.2em; }

@media screen and (max-width: 480px) and (orientation: portrait) {
  .post_content {
    padding: 0 2em; } }

.contact-map .iframe-elastic iframe {
  pointer-events: none; }

.contact-buttons {
  text-align: center; }
  .contact-buttons .icon {
    max-width: 125px;
    max-height: 125px;
    margin-bottom: 1em; }
  .contact-buttons p > strong {
    text-transform: uppercase;
    color: #6D3332; }

/**** Portfolio ****/
.portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.33em; }
  .portfolio-item > [class*="portfolio_"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000; }
  .portfolio-item > .portfolio_thumbnail {
    background-color: #5f686e;
    background-color: rgba(77, 87, 94, 0.9);
    background-blend-mode: luminosity;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .portfolio-item > .portfolio_thumbnail span {
      visibility: hidden; }
  .portfolio-item > .portfolio_content {
    text-align: center;
    padding: 2em; }
    .portfolio-item > .portfolio_content * {
      color: white !important; }
    .portfolio-item > .portfolio_content h2 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%; }
    .portfolio-item > .portfolio_content svg {
      height: 3px;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em; }
    .portfolio-item > .portfolio_content p {
      font-size: 1em;
      line-height: 1.2; }
    .portfolio-item > .portfolio_content .view-article {
      display: none; }
    @media screen and (max-width: 480px) {
      .portfolio-item > .portfolio_content {
        opacity: 0;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out; } }
    @media screen and (min-width: 481px) {
      .portfolio-item > .portfolio_content {
        left: -100%;
        right: 100%; } }
  .portfolio-item:hover, .portfolio-item:focus {
    overflow: visible;
    cursor: pointer; }
    .portfolio-item:hover > .portfolio_content, .portfolio-item:focus > .portfolio_content {
      z-index: 99; }
      @media screen and (max-width: 480px) {
        .portfolio-item:hover > .portfolio_content, .portfolio-item:focus > .portfolio_content {
          opacity: 1; } }
      @media screen and (min-width: 481px) {
        .portfolio-item:hover > .portfolio_content, .portfolio-item:focus > .portfolio_content {
          left: 100%;
          right: calc(-106% - 10px); } }
    .portfolio-item:hover > .portfolio_thumbnail, .portfolio-item:focus > .portfolio_thumbnail {
      border: 5px solid #000;
      background-blend-mode: normal; }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .portfolio-item:hover:nth-child(2n) .portfolio_content, .portfolio-item:focus:nth-child(2n) .portfolio_content {
        left: calc(-106% - 10px);
        right: 100%; } }
    @media screen and (min-width: 768px) and (max-width: 959px) {
      .portfolio-item:hover:nth-child(3n) .portfolio_content, .portfolio-item:focus:nth-child(3n) .portfolio_content {
        left: calc(-106% - 10px);
        right: 100%; } }
    @media screen and (min-width: 960px) {
      .portfolio-item:hover:nth-child(4n) .portfolio_content, .portfolio-item:focus:nth-child(4n) .portfolio_content {
        left: calc(-106% - 10px);
        right: 100%; } }

.iframe-elastic {
  position: relative;
  padding-bottom: 55%;
  /* ratio width/height in % Bsp. (450 ÷ 500 = 0.9 = 90%) */
  padding-top: 15px;
  height: 0;
  overflow: hidden; }
  .iframe-elastic iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.flexslider {
  border: 0;
  margin: 0; }
  @media screen and (max-width: 480px) {
    .single .flexslider {
      min-height: 100vH; } }

.flex-control-nav {
  bottom: 1em; }
  body.page .flex-control-nav {
    display: none; }
  .flex-control-nav.flex-control-paging li a {
    background: rgba(255, 255, 255, 0.5) !important; }
    .flex-control-nav.flex-control-paging li a.flex-active {
      background: white !important; }

[class*="flex-nav"] > a {
  z-index: 0;
  width: 50px !important;
  height: 50px !important;
  line-height: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-size: 0;
  line-height: 0; }
  [class*="flex-nav"] > a:before {
    content: '' !important;
    background: rgba(255, 255, 255, 0.5) url("../svg/flex-nav.svg") no-repeat center center;
    background-size: 25%;
    height: 100%;
    width: 100%; }
  [class*="flex-nav"] > a.flex-prev {
    top: 50%;
    bottom: auto;
    /** ToDO**/ }
    @media screen and (orientation: landscape) {
      .single [class*="flex-nav"] > a.flex-prev {
        left: 0; }
      [class*="subpages"] [class*="flex-nav"] > a.flex-prev {
        left: calc(50% + 24px) !important; } }
  @media screen and (max-width: 480px) {
    body.portfolio [class*="flex-nav"] > a.flex-prev, body.portfolio [class*="flex-nav"] > a.flex-next {
      top: 45%; }
    body.team [class*="flex-nav"] > a.flex-prev, body.team [class*="flex-nav"] > a.flex-next {
      top: 20%; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    body.portfolio [class*="flex-nav"] > a.flex-prev, body.portfolio [class*="flex-nav"] > a.flex-next {
      top: 45%; }
    body.team [class*="flex-nav"] > a.flex-prev, body.team [class*="flex-nav"] > a.flex-next {
      top: 40%; } }
  [class*="flex-nav"] > a.flex-prev:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

/*# sourceMappingURL=screen.css.map */
