nav.nav.open {
    @include transition;
    height:320px;
}
nav.nav {
    @media screen and (max-width:$screen-xs){
        &,&.closed{
            @include transition;
            height:0px;
            overflow: hidden;
        }  
    }
}
@media screen and (min-width:$screen-sm+1){
    .home-btn.mobile-layout,
    .navbar-toggle,
    .nav li svg{
            display:none;
        }
}
@media screen and (max-width:$screen-xs){
/*    #header{background: red;}*/
    .home-btn.mobile-layout,
    .navbar-toggle{
        display:block;
        position:absolute;
        z-index: 999;
        svg {
            @include size(40px);
            padding:.5em;
            background:$base-color-white;
        }
    }
    .home-btn.mobile-layout{
        top:0;
        left:0;
    }
        .navbar-toggle{
        top:0;
        right:0;
    }
}