.flexslider {
    .slides {
        li.item-img div{
            height:500px;
            width:100%;
            background:$base-bg_color;
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
        }
    }
}