article{
    body.home &{
            @media screen and (max-width:$screen-xs){
                h1 { margin:40vH 2em 0 2em;}

            }
            @media screen and (min-width:$screen-xs) and (max-width:$screen-md){
                h1 { margin:45vH 3em;}
            }
            @media screen and (min-width:$screen-md){
                h1 { margin:12vH 3em;}
            }
        }

    body.leistungen &{
        .thumbnail{
            background: transparent;
            border:0;
            display:block;
            margin-bottom:1em;
            img{
                width: auto;
                height:50px;
                max-width: none;
            }
        }
    }
    .flexslider & {
        > section.flexcaption{
            padding-right: 1.2em;
        }
    }
}
.post_content{
    @media screen and (max-width:$screen-xs) and (orientation:portrait){
        padding:0 2em;
    }
}
.contact-map{
    .iframe-elastic{
        iframe{
            pointer-events: none;
        }
    }
}
.contact-buttons{
    text-align: center;
    .icon{
        max-width: 125px;
        max-height:125px;
        margin-bottom: 1em;
    }
    p > strong{
        text-transform: uppercase;
        color:$primary-color;
    }
}