/* Sticky Footer */
/*html{
    position: relative;
    min-height: 100%;
}
body {
    &.home{
        margin-bottom: $footerHomeHeight;
        > footer {
            height:$footerHomeHeight;
        }
    }
    &:not(.kontakt){
        margin-bottom: $footerHeight;  
        > footer{
            height:$footerHeight;
            width: 100vW;
            position: absolute;
            bottom: 0;       
        }
    }
}*/
/* end sticky footer */
/*Layout Home */
body{
    &.home{
        height:100vH;
        position: relative;
        overflow:hidden;
        background:{
            color:rgba(0,0,0,1);
            repeat:no-repeat;
        }
        @media screen and (max-width:$screen-smallPad){
            background-size:contain;
            background-position:50% 70%; 
        }
        @media screen and (min-width:$screen-smallPad) and (max-width:$screen-sm) and (orientation:landscape){
            background-size:120% auto;
            background-position:50% 10%; 
        }
        @media screen and (min-width:$screen-smallPad) and (max-width:$screen-md) and (orientation:portrait){
            background-size:contain;
            background-position:50% 70%; 
        }
        @media screen and (min-width:$screen-md){
            background-size:cover;
            background-position:50% 25%;
        }
        > .footer {
            position: absolute;
            bottom: 2em;
            width: 100%;
        }
    }
    &:not(.home) {
        > header{
            @media screen and (min-width:$screen-md){
                background: white;
            }
            .logo {
                background: white; 
            }
        }
        > main {
            @media screen and (max-width:$screen-maxPhone){
                .post_content{
                    padding:1em 2em;
                }
            }
        }
        > .footer {
            background:$primary-color;
            * {color:$base-color-white;}
            .impressum{padding-top:2 * $vgrid;}
            @media screen and (max-width:$screen-maxPhone){
                padding:0 2em;
            }
        }
    }
    &.kontakt, &.leistungen{
        > main {
            background: $base-bg-color!important;
            padding-top:5.3em;
        }
    }
    .intro{
        margin-bottom: 1.5 * $vgrid;
        @media screen and (max-width:$screen-md){
            padding:2em;
            margin:0;
        }
    }
}
.container{
    #header &{
        padding:0;
    }
    #portfolio {
        @media screen and (max-width:$screen-md){
            padding:0 2em;
        }
    }
    &.related.bottom-fold {
        margin-top:2em;
    }
}
#header {
    .logo {
        a {
            display: block;
            background-color:transparent;
            background-repeat:no-repeat;
            background-position: top right;
            background-size: contain;
            width:100%;
            height:0;
            padding:0;
            padding-bottom:calc(100% * 1/3);
            body.home & {
                background-image: url('../svg/logo-white.svg');
            }
            body:not(.home) & {
                background-image: url('../svg/logo.svg');
            }
        }
        span{display:none;}
    }
    @media screen and (max-width:$screen-md ){
        position: fixed;
        top: 0;
        left: 0;
        min-height: $mobileHeaderHeight + $headerBorderWidth;
        width: 100%;
        z-index: 10;
        border-bottom:$headerBorderWidth solid #000;
        /** white block above **/
        .container:before{
            content:' ';
            display: block;
            background: white;
            position: absolute;
            top:0;
            left:40px;
            right:40px;
            height:40px;
            border:{
                width:0 $headerBorderWidth;
                color:#000;
                style:solid;
            }
        }
        .nav{
            width: 100%;
            top:$mobileHeaderHeight + $headerBorderWidth;
        }
        .logo{
            padding:10px 20px;
            margin:$mobileHeaderHeight + $headerBorderWidth 0 0 0;
        }
    }
    @media screen and (max-width:$screen-md){
        .logo, nav{
            position: absolute;
            overflow: hidden;
        }
        nav{
            left:0;
            right: 0;
        }
    }
    @media screen and (max-width:$screen-md){
        .logo, nav{
            left:0;
            right: 0;
        }
    }
    @media screen and (min-width:$screen-xs) and (max-width:$screen-md){
        .logo{
            a {
                background-size: 50% auto;
                padding-bottom:calc(50% * 1/3);
            }
        }
    }
    @media screen and (min-width:$screen-md ){
        .logo, .nav {
            margin-top:32px;
        }
    }
}
