body.home{
    background:rgba(0,0,0,.5);
    .logo svg > * {
        fill:white;
    }
}
#header {
    padding-top:$vgrid;
    .logo {
        float: right;
    }
}
[class*="col-"]{
    .item & {
        padding:0 !important;
    }
}

/**** Footer ****/
body > footer{
    background: $primary-color;
    * {
        color:white;
    }
}