html {
    position: relative;
    min-height: 100%;
}
body{
    &.home{
/*        height:100vH;*/
        background:{
            color:rgba(0,0,0,.5);
            position: 50% 25%;
            repeat:no-repeat;
            size:cover;
        }
        margin-bottom: $footerHomeHeight;
        > footer {
            height:$footerHomeHeight;
        }
    }
    &:not(.kontakt){
      margin-bottom: $footerHeight;  
    }

    &:not(.kontakt) > footer{
        height:$footerHeight;
        width: 100vW;
                    position: absolute;
            bottom: 0;
    }
}

.container{
    #header &,
    &#portfolio {
        padding:0;
    }
}


#header {
/*    padding-top:$vgrid;*/
    .logo {
        position:relative;
        span.name {
            display:none;
        }
        span.description{
            position: absolute;
            @media screen and (min-width:$screen-md){
                right:125px;
                bottom: 43px;
                letter-spacing: .01em;
                width: 375px;
            }
        }
    }
}
main {
    body.leistungen > &,body.kontakt > &{
        background: #eee;
        padding-top: 4.25 * $vgrid;
    }
}
/**** Footer ****/
body > footer {
    * {
        color:white;
    }
    .impressum {
        padding:$vgrid 0;
    }
}

body:not(.home) > footer{
    background: $primary-color;
    padding:$vgrid 0;
}
