/**** Portfolio ****/
.portfolio-item{
    position: relative;
    overflow: hidden;
    margin-bottom:1.33em;

    > [class*="portfolio_"]{
        position:absolute;
        top:0;
        bottom: 0;
        left:0;
        right: 0;
        background: $portfolio-bg-color;
    }
    > .portfolio_thumbnail{
        @include alpha-background-color(rgba($portfolio-thumb-color, 0.9), white); 
        background-blend-mode: luminosity;
        img {
            display:none;
        }
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        span{visibility: hidden;}
    }
    > .portfolio_content{
        *{color:white !important;}
        text-align: center;
        padding:2em;
        h2 {@include ellipsis(100%);}
        svg {
            height: 3px;
            width: 100%;
            margin-top:1em;
            margin-bottom: 1em;
        }
        p {
            font-size: 1em;
            line-height: 1.2;
        }
        .view-article{display: none;}
        @media screen and (max-width:$screen-xs){
            opacity:0;
            @include transition(all 2.0s ease-in-out);
        }
        @media screen and (min-width:$screen-xs + 1){
            left:-100%;
            right:100%;
        }
    }
    &:hover, &:focus{
        overflow:visible;
        cursor:pointer;
        > .portfolio_content{
            z-index: 99;
            @media screen and (max-width:$screen-xs){
                opacity:1;
            }
            @media screen and (min-width:$screen-xs + 1){
                left:100%;
                right:calc(-106% - 10px);
            }
        }
        > .portfolio_thumbnail{
            @include filter(grayscale(0%));
            border:5px solid $portfolio-bg-color;
            background-blend-mode: normal; 
        }
        @media screen and (min-width:$screen-xs) and (max-width:$screen-sm){
            &:nth-child(2n){
                .portfolio_content{
                    left: calc(-106% - 10px);
                    right: 100%;
                }
            }
        }
        @media screen and (min-width:$screen-sm) and (max-width:960px - 1px){
            &:nth-child(3n){
                .portfolio_content{
                    left: calc(-106% - 10px);
                    right: 100%;
                }
            }
        }
        @media screen and (min-width:960px){
            &:nth-child(4n){
                .portfolio_content{
                    left: calc(-106% - 10px);
                    right: 100%;
                }
            }
        }
    }
}

//Iframe Elastic
.iframe-elastic {
    position: relative;
    padding-bottom: 55%; /* ratio width/height in % Bsp. (450 ÷ 500 = 0.9 = 90%) */
    padding-top: 15px;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
//Flexslider
.flexslider{
    border:0;
    margin:0;
    @media screen and (max-width:$screen-xs){
        .single &{
            min-height:100vH;
        }
    }

}
.flex-control-nav{
    bottom:1em;
    body.page & {display:none;}
    &.flex-control-paging li a{
        background:rgba(255,255,255,.5) !important;
        &.flex-active{
            background:rgba(255,255,255,1)!important;
        }
    }
}
[class*="flex-nav"]{
    > a{
        z-index:0;
        @media screen and (max-width:$screen-md){}
        &:before{
            content:'' !important;
            background: rgba(255,255,255,.5) url("../svg/flex-nav.svg") no-repeat center center;
            background-size: 25%;
            height:100%;
            width:100%;

        }
        &.flex-prev{
            top:50%;
            bottom:auto;
                /** ToDO**/
            @media screen and (orientation:landscape){
                .single & {left:0;}
                [class*="subpages"] & {left:calc(50% + 24px) !important;}   
            }

        }
        &.flex-prev, &.flex-next{
            @media screen and (max-width:$screen-xs){
                body.portfolio &{top:45%;}
                body.team &{top:20%}   
            }
            @media screen and (min-width:$screen-xs) and (max-width:$screen-sm){
                body.portfolio &{top:45%;}
                body.team &{top:40%}   
            }
        }
        &.flex-prev:before{
            @include rotate(180deg);
        }
        @include circle(50px);
        font-size: 0;
        line-height: 0;
    }
}