#header nav {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing:.065em;
    @media screen and (max-width:$screen-xs){
        top:0px;
    }
    @media screen and (max-width:$screen-md){
        background:white;
        z-index: 1000;
    }
    ul{
        list-style: none;
        @extend %clearfix;
        @media screen and (min-width:$screen-md){margin:0;padding:0;}
        @media screen and (max-width:$screen-sm){
            margin:0;
            padding:.5em 0 0 0;
        }
        li {
            @media screen and (max-width:$screen-md){
                display:block;
                float:none;
                line-height:100% !important;
                width:100%;
                overflow:hidden;
                &.close-menu{
                    text-align: center;
                    height:44px;
                    a {
                        text-indent: -99999px;
                        overflow:hidden;
                        width:100%;
                        height:0;
                    }
                    svg{
                        margin:0 !important;
                        height:22px !important;
                        padding:0;
                        @include transform(rotate(-180deg));
                        @include transform-origin(center center);
                        &:hover {cursor: pointer;}
                    }
                }
                a{
                    padding:.5em 2.5em;
                }
                svg {
                    width: 100%;
                    margin: .2em 0;
                    padding: 0;
                    height: 3px;
                }

            }
            @media screen and (min-width:$screen-md){
                float:left;
                display: inline-block;
                width:auto;
                &.close-menu{
                    display:none;
                }
            }
            &.close-menu{
                @media screen and (max-width:$screen-md){
                    svg {width:100%;}
                }
            }

        }

    }
}

li.menu-item{
    a {
        display: block;
        color:$dark-color-grey;
        font-weight:bold;
        @media screen and (min-width:$screen-md){
            line-height: 1; 
            border-top:3px solid transparent;
        }
        @media screen and (min-width:$screen-md)and (max-width:$screen-lg){
            padding:1rem .6em 0 .6em;
        }
        @media screen and (min-width:$screen-lg){
            padding:1rem 1.2em 0 1.2em;
        }
        @media screen and (min-width:$screen-md){
            body.home #header:not(.sticky) &, body.home #header:not(.sticky) &:hover {
                color:white;
            }
        }
        &:hover {
            text-decoration: none;
            color:$primary-color;
            border-color:currentColor;
        }
    }
    &.current-menu-item{
        svg {fill:$primary-color;}
        a{
            color:$primary-color;
            @media screen and (min-width:$screen-md){
                border-top:3px solid currentColor;
            }
        }
    }
}

nav.nav.open {
    @include transition;
    min-height:340px;
    overflow:scroll;
    @media screen and (min-width:$screen-xs) and (max-width:$screen-md){
        width:50% !important;
    }
}
nav.nav {
    @media screen and (max-width:$screen-md){
        &,&.closed{
            @include transition;
            min-height:0px;
            max-height: 0;
            overflow: hidden;
        }  
    }
}
@media screen and (min-width:$screen-md+1){
    .home-btn.mobile-layout,
    .navbar-toggle,
    .nav li svg{
        display:none;
    }
}
@media screen and (max-width:$screen-md){
    .home-btn.mobile-layout,
    .navbar-toggle{
        display:block;
        position:absolute;
        z-index: 999;
        svg {
            @include size(40px);
            padding:.5em;
            background:$base-color-white;
        }
        .fallback{
            display: none;

        }
        .no-svg & svg{display:none;}
    }
    .no-svg .fallback{
        @include size(40px);
        display: block;
    }
    .no-svg .home-btn.mobile-layout .fallback{
        background: $base-color-white url('../img/home-btn.gif') center center no-repeat / auto 25px;
    }
    .no-svg .navbar-toggle .fallback{
        background: $base-color-white url('../img/menu-bars.gif') center center no-repeat / auto 25px;
    }
    .home-btn.mobile-layout{
        top:0;
        left:0;
    }
    .navbar-toggle{
        top:0;
        right:0;
    }
}

#pagination{
    margin: $vgrid 0 0 0;
    padding: $vgrid 0 0 0;
    text-align: center;

    svg{
        display: block;
        margin: 1em auto;
        height: 3px;
        width: 100%;
    }

    span, a{
        font-weight: bold;
        @include size(20px);
        display: inline-block;
        color: $dark-color-grey;
    }
    span.current{color: $primary-color;
    }
    .next, .prev{
        @extend %text-indent;
    }
}