#header nav {
    text-transform: uppercase;
    font-size: 1rem * 1.125;
    ul{
        list-style: none;
        @extend %clearfix;
        li {
            float:left;
            display: inline-block;
            width:25%;
        }

    }
    li.menu-item{
        a {
            display: block;
            padding-top: 2rem;
            text-align:center;
            color:$dark-color-grey;
            font-weight:bold;
            border-top:2px solid transparent;
            &:hover {
                text-decoration: none;
                color:$primary-color;
                border-color:$primary-color;
            }
        }
        &.current-menu-item{
            a{
                color:$primary-color;
                border-top:2px solid $primary-color;
            }
        }


    }
}
