/**** Portfolio ****/
.portfolio-item{
    position: relative;
    overflow: hidden;
    margin-bottom:1.33em;
    position:relative;
    /*border: 0px solid #000;*/

    > [class*="portfolio_"]{
        position:absolute;
        left:0;
        right: 0;
        top:0;
        bottom:0;
        opacity: 0;
        background: $portfolio-bg-color;
    }
    > .portfolio-thumbnail{
        background: #000;
        display: block;
        padding:0;
    }
    > .portfolio_content, > portfolio_content.show{
        *{color:white !important;}
        text-align: center;
        padding:2em;
        line-height:0;


        h2 {@include ellipsis(100%);}
        svg {
            height: 3px;
            width: 100%;
            margin-top:1em;
            margin-bottom: 1em;
        }

        p {
            font-size: 1em;
            line-height: 1.2;
        }

        .view-article, .more-link{display: none;}
        @media screen and (max-width:$screen-xs){
            
        }
        @media screen and (max-width:$screen-xs) and (orientation:portrait){
            opacity:.5;
            padding:1em 2em;
            top:80%;
            bottom:auto;
        }
        @media screen and (min-width:$screen-xs + 1){
            left:-100%;
            right:100%;
        }
    }
    /** End portfolio-content **/
    &:hover, &:focus{
        overflow:visible;
        cursor:pointer;
        @include transition(all 2.0s ease-in-out);
        > .portfolio_content, > .portfolio_content.show{
            z-index: 99;
            opacity: 1;
            @media screen and (min-width:$screen-xs + 1){
                left:100%;
                right:-110%;
            }
        }
        > .portfolio-thumbnail{
            padding:.5em;
            .grayscale{
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
            .grayscale-replaced > svg {opacity: 0;}
        }
        @media screen and (min-width:$screen-xs) and (max-width:$screen-sm){
            &:nth-child(2n){
                .portfolio_content{
                    left: calc(-106% - 10px);
                    right: 100%;
                }
            }
        }
        @media screen and (min-width:$screen-sm) and (max-width:960px - 1px){
            &:nth-child(3n){
                .portfolio_content{
                    left: calc(-106% - 10px);
                    right: 100%;
                }
            }
        }
        @media screen and (min-width:960px){
            &:nth-child(4n){
                .portfolio_content{
                    left: calc(-106% - 10px);
                    right: 100%;
                }
            }
        }
    }
}