.leftalign{
    float:left;
}
.rightalign{
    float:right;
}
.hidden-xs{
    @media screen and (max-width:$screen-xs){
        display:none;
    }
}
.hidden-lg{
    @media screen and (min-width:$screen-lg){
        display:none;
    }
}
*:hover, *:focus {cursor: pointer;}

.post-edit-link{
    background: transparent url(../svg/pen.svg) no-repeat left center;
    display:block;
    @include size(20px);
    > span {
        @extend %text-indent;
    }
}
