* {@include box-sizing;}
div {
    @include anchor(2em);
}
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
    &:focus {
        background-color: $base-bg_color;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: $primary-color;
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding:calc(1em + 1) 2em 1em;
        text-decoration: none;
        top: .5em;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}


.leftalign{
    float:left;
}
.rightalign{
    float:right;
}
.hidden-xs{
    @media screen and (max-width:$screen-xs){
        display:none;
    }
}
.hidden-lg{
    @media screen and (min-width:$screen-lg){
        display:none;
    }
}

.post-edit-link{
    background: transparent url(../svg/pen.svg) no-repeat left center;
    display:block;
    @include size(20px);
    > span {
        @extend %text-indent;
    }
}
.scroll-to-top {
    background: $primary-color url(../svg/flex-nav.svg) no-repeat center center / 30%;
    bottom: .5em;
    cursor: pointer;
    display: none;
   @media screen and (max-width:$screen-md - 1){
        @include circle(60px);
    }
    @media screen and (min-width:$screen-md){
        @include circle(50px);
    }
    
    @include transform(rotate(-90deg));
    position: fixed;
    @media screen and (max-width:$screen-md - 1){
       right: .5em; 
    }
    @media screen and (min-width:$screen-md){
        right: 3em;
    }
    
    transition: background-color 0.1s linear 0s;
    z-index: 9999;

    &:hover {
        opacity: 0.8;
    }
}
