* {@include box-sizing;}

.leftalign{
    float:left;
}
.rightalign{
    float:right;
}
.hidden-xs{
    @media screen and (max-width:$screen-xs){
        display:none;
    }
}
.hidden-lg{
    @media screen and (min-width:$screen-lg){
        display:none;
    }
}

.post-edit-link{
    background: transparent url(../svg/pen.svg) no-repeat left center;
    display:block;
    @include size(20px);
    > span {
        @extend %text-indent;
    }
}
.scroll-to-top {
    background: $primary-color url(../svg/flex-nav.svg) no-repeat center center / 30%;
    bottom: .5em;
    cursor: pointer;
    display: none;
   @media screen and (max-width:$screen-md - 1){
        @include circle(60px);
    }
    @media screen and (min-width:$screen-md){
        @include circle(50px);
    }
    
    @include transform(rotate(-90deg));
    position: fixed;
    @media screen and (max-width:$screen-md - 1){
       right: .5em; 
    }
    @media screen and (min-width:$screen-md){
        right: 3em;
    }
    
    transition: background-color 0.1s linear 0s;
    z-index: 9999;

    &:hover {
        opacity: 0.8;
    }
}
