// Neat Overrides
$column: 68px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1024px;

.container {
    @include outer-container;
    @extend %clearfix;
    body > header &{
        > nav{@include span-columns(7);}
        > hgroup{@include span-columns(5);}
    }
    &.columns{
        > div {@include span-columns(3);}
    }
}
.contact-buttons {
    @extend %clearfix;
    margin-bottom:4.5 * $paragraph-margin;
    > div {@include span-columns(4);}
}
