@mixin flexbox{
    @include align-items(flex-start);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    > * {
        @include flex(1);
    }
}
@mixin grey-background{
    background: $base-bg-color!important;
    padding-top:10vH;
}

@mixin footer-background{
    background:$primary-color;
    * {color:$base-color-white;}
}
@mixin columns{
    @media screen and (min-width:960px){
        > div {@include span-columns(3);}
    }
}
@mixin anchor($height){
    &:target:before{
        content: '';
        height:$height;
        margin-top: -$height;
        display:block;
    }
}
